@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

/* Use the 'Oswald' font family at 14px throughout the body of the document. */
nav {
    font-family: sans-serif; 
    font-size: 14px;
}

/* Use the 'Oswald' font family at 14px throughout the body of the document. */
body{
    font-size: 14px;
    font-family: 'Oswald', 'sans-serif';
 }

 /* Use the 'Bungee Inline' font at 46px and lighter weight for the restaurant name. */
h1{
    font-size: 46px;
    font-family: 'Bungee Inline';
    font-weight: lighter;
}

#menu {
    columns: 400px 2; 
    column-gap: 100px;
    -webkit-column-rule: 2px none white;
    -moz-column-rule: 2px none white;
    column-rule: 2px non white;
 }

/* Show each of the section headings of the menu (e.g. "Starters") in uppercase. */
section {
    margin-bottom: 20px; 
    padding: 10px;
}

h2 {
    text-transform: uppercase;
    margin-top: 0;
}

/* Make the name of each menu item appear in bold in a 16px size. */
#menu {
    font-family: 'Bungee Inline', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* Make a comma appear after the name of each menu item (before the description) */
dt::after {
    content: ",";
}

dd {
    display: inline; 
    margin: 0;
}
dd::after {
    content: " "; 
    display: block; 
    clear: both; 
    margin-bottom: 15px;}

.price {
    float: right; 
    padding: 0 0 35px 20px;
}

/* Right-align the text of the address/footer */
footer {
    text-align: right;
}

/* draw a 2px black border around the starters and desserts sections of the menu */
#starters, #desserts {
        border: 2px solid black;
}
